<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&amp;display=swap">
    <link rel="stylesheet" href="welcome1.component.css">
    <script defer type="module" src="bghex.js"></script>
    <title>Quiz Game</title>
</head>
<body>
    <div id="app">
        <canvas id="webgl-canvas"></canvas>
        <div class="hero">
          <h1>✨Welcome to the Ultimate Quiz Challenge!🌟</h1>
          <h2>Test your knowledge, have fun, and aim for the top score—let the game begin!</h2>
        </div>
        <div class="buttons">
          <button type="button" id="colors-btn">
            Random colors
          </button>
        </div>
        <div>
        <button button routerLink="/login" type="button" id="start-btn">
          Let's Start
        </button>
        </div>
    </div>
</body>
</html>
