body, html, #app {
    margin: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.5) 200%);
    position: relative; /* Ensure that z-index works */
  }
  
  #app {
    height: 100%;
    font-family: "Montserrat", serif;
  }
  
  .hero {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    line-height: 100%;
    user-select: none;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  
  /* Position the canvas */
  #webgl-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0; /* Ensure canvas is below button */
  }
  
  .buttons {
    position: fixed;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1.5%;
    gap: 15px;
  }
  
  button {
    font-family: "Montserrat", serif;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid grey;
    padding: 4px 8px;
  }
  
  /* New styles for the 'Let's Start' button */
  #start-btn {
    font-size: 24px; 
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 20px 40px;
    border-radius: 10px; 
    color: #333;
    cursor: pointer;
    position: absolute; 
    bottom: 200px; 
    right: 45%; 
    z-index: 10; /* Keep the button in front */
    
  }
  
  #start-btn:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  #start-btn:active {
    background-color: #45a049;
  }
  